.userLandingBanner{
    /* background-size: cover; */
    height: 448px;
    width: 100%;
    color: white;
    /* background-color: aqua; */
    position: relative;
}

.userLandingBanner img{
    height: 448px;
    width: 100%;
    object-fit: cover;
}

.userLandingBannerContent{
    padding: 140px 30px 0 30px;
    height: 190px;
    position: absolute;
    top: 0;
    z-index: 9;
    /* padding-left: 15px; */
}

.userLandingBannerTitle{
    font-size: 3rem;
    font-weight: 800;
    padding-bottom: 0.3rem;
}

.userLandingBannerButtons button{
    color: white;
    outline: none;
    border: none;
    font-weight: 700;
    border-radius: 5px;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: rgb(51, 51, 51, .5);
    cursor: pointer;
    margin-right: 1rem;
}

.userLandingBannerButtons button:hover{
    color: black;
    background-color: #e6e6e6;
}

.userLandingBannerDescription{
    width: 45rem;
    line-height: 1.3;
    padding-top: 1rem;
    font-size: 1rem;
    height: 80px;
    max-width: 360px;
}

.fade_bottom{
    position: absolute;
    bottom: 0;
    height: 22.4rem;
    width: 100%;
    margin-top: 9rem;
    background-image: linear-gradient(180deg,transparent,rgba(37,37,37,.61),#111);

}